@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: rgb(36, 41, 87);
  --blue-lighter: rgb(85, 91, 141);
  --blue-shadow: rgb(106, 120, 165);
  --purple: rgb(173, 109, 170);
}
body {
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100vh;
}

.btn {
  height: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--blue);
  color: white;
  font-weight: 500;
  padding: 5px;
  font-family: "M PLUS 1p", sans-serif !important;
}

.btn:active {
  background-color: var(--blue-shadow);
  transition: 0.2s;
}

.input {
  padding: 10px;
  transition: 0.2s;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 7px -3px rgba(0, 0, 0, 0.2);
  font-family: "M PLUS 1p", sans-serif;
}

.input:focus {
  border-radius: 20px;
  background-color: var(--blue);
  color: white;
  transition: 0.2s;
}

.link {
  font-size: small;
  text-decoration: none;
  color: var(--blue-shadow);
  cursor: pointer;
}

.link:hover {
  color: var(--blue-lighter);
}

.error {
  color: rgb(187, 7, 7);
  margin: 0 auto;
  padding: 5px;
}
